<div class="widget product-category">
    <h4 class="widget-title">Categories</h4>
    <div class="panel-group commonAccordion" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">

            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                        aria-expanded="false" aria-controls="collapseOne">
                        Shoes
                </a>
                </h4>
            </div>

            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ul>
                        <li>
                            <span>
                                <input type="checkbox" name="" id="of"> &nbsp;
                                <label for="of">Office Desks</label>
                            </span>
                        </li>
                        <li><a href="#!">Shoe Color</a></li>
                        <li><a href="#!">Shoe Color</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>