<div class="widget product-category">
    <h4 class="widget-title">Categories</h4>
    <div class="panel-group commonAccordion" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">

            <section *ngFor="let group of categories; first as isFirst;index as ind">

                <div (click)="togglePanel(ind)" class="panel-heading" role="tab" id="heading{{ind}}">
                    <h4 class="panel-title">
                        <a [class]="isFirst ? '' : 'collapsed'" id="accordion-link-{{ind}}" role="button" data-parent="#accordion">
                            {{group.name}}
                        </a>
                    </h4>
                </div>

                <div id="collapse{{ind}}" [class]="isFirst ? 'panel-collapse collapse in' : 'panel-collapse collapse'" role="tabpanel">
                    <div class="panel-body">
                        <ul>
                            <li *ngFor="let cat of group.children">
                                <span>
                                    <input type="checkbox" name="" id="of"> &nbsp;
                                    <label for="of">{{cat}}</label>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

            </section>
            
        </div>

    </div>

</div>