<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Shop</h1>
                    <ol class="breadcrumb">
                        <li><a [routerLink]="''">Home</a></li>
                        <li class="active">shop</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="products section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- Sidebar widgets. -->
                <app-sort-by></app-sort-by>
                <app-categories></app-categories>
                
            </div>
            <div class="col-md-9">
                <div class="row">
                    <!-- Items catalogue -->
                    <app-grid-product *ngFor="let item of items" [item]="item"></app-grid-product>

                    <!-- Enquiry Modal -->
                    <app-enquiry-form></app-enquiry-form>

                </div> <!-- /.row -->
                <!-- Items pagination -->
                <app-pagination></app-pagination>
            </div>

        </div>
    </div>
</section>