<div class="col-md-4">
    <div class="product-item">                            
        <div class="product-thumb">
            <span class="bage">Buy Now</span>
            <img class="img-responsive" src="../../../assets/images/shop/products/product-1.jpg" alt="product-img" />
                        
            <div class="preview-meta">
                <ul>
                    <li>
                        <a [title]="'View xx Details'">
                            <i class="tf-ion-ios-search-strong"></i>
                        </a>
                    </li>
                    <li>
                        <a [title]="'Enquire about xx'"><i class="tf-ion-ios-telephone"></i></a>
                    </li>
                    <li>
                        <a [title]="'Add xx to cart'"><i class="tf-ion-android-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-content">
            <h4><a href="product-single.html">Reef Boardsport</a></h4>
            <p class="price">$200</p>
        </div>
    </div>
</div>