<div class="col-md-4">
    <div class="product-item">                            
        <div class="product-thumb">
            <span class="bage">Buy Now</span>
            <img class="img-responsive" [src]="item.Photo_url" alt="product-img" />
                        
            <div class="preview-meta">
                <ul>
                    <li>
                        <a [title]="'View ' + item.Name + ' Details'">
                            <i class="tf-ion-ios-search-strong"></i>
                        </a>
                    </li>
                    <li>
                        <a (click)="enquireAboutItem()" [title]="'Enquire about ' + item.Name">
                            <i class="tf-ion-ios-telephone"></i>
                        </a>
                    </li>
                    <li>
                        <a [title]="'Add ' + item.Name +' to cart'">
                            <i class="tf-ion-android-cart"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-content">
            <h4><a href="product-single.html">{{item.Name}}</a></h4>
            <p class="price">KES. {{item.Price}}</p>
        </div>
    </div>
</div>