<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a [routerLink]="'/'" [title]="'Home - Premium craft'">Home</a></li>
					<li><a [routerLink]="'shop'" [title]="'Shop - Premium craft'">Shop</a></li>
					<li class="active">{{item.Name}}</li>
				</ol>
			</div>
			<!-- <div class="col-md-6">
				<ol class="product-pagination text-right">
					<li><a href="blog-left-sidebar.html"><i class="tf-ion-ios-arrow-left"></i> Next </a></li>
					<li><a href="blog-left-sidebar.html">Preview <i class="tf-ion-ios-arrow-right"></i></a></li>
				</ol>
			</div> -->
		</div>
		
		<div class="row mt-20">
			<div class="col-md-5">
				<!-- Image slider -->
				<app-product-image-slider [productImages]="item.product_images"></app-product-image-slider>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2>Eclipse Crossbody</h2>
					<p class="product-price">KES {{item.Price}}</p>

					<div [innerHTML]="item.Description"></div>
					<hr>
					<!-- Purchace buy option -->
					<app-buy-options></app-buy-options>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<!-- review-->
				<app-reviews></app-reviews>

			</div>
		</div>
	</div>
</section>

<app-related-products></app-related-products>