<!-- Main Menu Section -->
<section class="menu">
	<nav class="navbar navigation">
		<div class="container">
			<div (click)="toogleMobileMenu()" class="navbar-header">
				<h2 class="menu-title">Main Menu</h2>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse text-center">
				<ul class="nav navbar-nav">

					<li *ngFor="let menuItem of menuLinks"
						[ngClass]="menuItem.children.length > 0 ? 'dropdown full-width dropdown-slide' : 'dropdown'">

						<a *ngIf="menuItem.children.length == 0"
							[title]="menuItem.title"
							[routerLink]="[menuItem.link]">{{ menuItem.linkText }}</a>

						<a *ngIf="menuItem.children.length > 0"
							[title]="menuItem.title"
							[routerLink]="[menuItem.link]"
							class="dropdown-toggle"
							data-toggle="dropdown"
							data-hover="dropdown"
							data-delay="350"
							role="button"
							aria-haspopup="true"
							aria-expanded="false">{{ menuItem.linkText }} <span class="tf-ion-ios-arrow-down"></span></a>

						<div *ngIf="menuItem.children.length > 0"
							class="dropdown-menu">
							<div class="row">
								<div *ngFor="let child of menuItem.children"
									[ngClass]="'col-sm-' + submenuSections + ' col-xs-12'">
									<ul>
										<li class="dropdown-header">{{ child.dropdownHeader }}</li>
										<li role="separator" class="divider"></li>
										<li *ngFor="let link of child.links">
											<a [title]="link.title" [routerLink]="[link.link]">{{ link.linkText }}</a>
										</li>
									</ul>
								</div>

							</div>
						</div>

					</li>

				</ul><!-- / .nav .navbar-nav -->

			</div>
			<!--/.navbar-collapse -->
		</div><!-- / .container -->
	</nav>
</section>